/* css/detail-page.css */

.artwork-detail-container {
    padding: 20px 0;
}

.artwork-title, .pages-title {
    font-size: 24px;
    margin: 0rem 1rem;
    /* margin-bottom: 10px;
    border-bottom: 1px solid #000;
    padding-bottom: 0.5rem; */
}

.artwork-info, .pages-info {
    padding: 5px 0;
    margin: 0rem 1rem;
    /* margin-top: 2rem; */
}

.pages-title, .pages-info {

}

.artwork-info, .pages-info p {
    margin: 0;
    font-size: 14px;
}

.artwork-images {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.project-title, .artwork-info, .artwork-title {
    display: none;
}